/* src/components/cart/CheckoutButton.module.css */
.checkoutButton {
  width: 100%;
  padding: 0.9rem 1.5rem;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
  
  /* ¡El estilo minimalista! */
  color: #ffffff;
  background-color: #000000;
  
  border: none;
  border-radius: 8px; /* Bordes más suaves */
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.checkoutButton:hover {
  background-color: #333; /* Sin filtro */
}

.checkoutButton:disabled {
  background-color: #999;
  cursor: not-allowed;
}