.footer {
  width: 100%;
  padding: 2rem 0;
  margin-top: 4rem; /* Empuja el footer lejos del contenido */
  background-color: var(--secondary-color);
  border-top: 1px solid #ddd;
  text-align: center;
  font-size: 0.875rem;
  
  
}

.footer p {
  margin: 0.25rem 0;
}