/* src/components/home/Marquee.module.css */
.marqueeContainer {
  width: 100%;
  overflow: hidden;
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 0;
}

.marqueeTrack {
  display: flex;
  white-space: nowrap;
}

.marqueeText {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0 2rem;
  text-transform: uppercase;
}