/* Puedes hacerlo lucir como un link normal */
.signOutButton {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  
  /* Hereda los estilos del nav */
  font-size: 1rem;
  font-weight: 500;
  color: var(--foreground-rgb);
  text-decoration: none;
  position: relative;
  padding-bottom: 4px;
}

/* Reutilizamos el efecto hover del Header.module.css */
.signOutButton::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
}

.signOutButton:hover::after {
  width: 100%;
}